<div class="col-12 p-fluid">
  <label class="mb-2 block " for="minmax-buttons">{{'cadastrar digital'| translate}}</label>
  <p-dropdown formControlName="motivo" class="p-inputtext-sm" appendTo="body" [options]="handFingers"
    placeholder="Selecione o dedo" optionLabel="name" >

  <ng-template let-finger pTemplate="item">
      <div class="flex align-items-center gap-2">
          <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"  style="width: 18px"/>
          <i *ngIf="finger.status == 'anulado'" class="pi pi-times-circle" style="color: rgb(128, 0, 0)"></i>
          <i *ngIf="finger.status == 'cadastrado'" class="pi pi-check-circle" style="color: rgb(103, 205, 90)"></i>
          <i *ngIf="finger.status == ''" class="pi pi-question-circle" ></i>
          <div>{{ finger.name }}</div>
      </div>
  </ng-template></p-dropdown>

</div>
