<div #overlay class="overlay" [ngClass]="{'overlay ': isExpanded,'off':!isExpanded}"></div>
<div class="sidenav" [ngClass]="{'is-expanded': isExpanded }">
  <div class="mt-2 d-mn-max"></div>

  <!-- Profile picture  -->
  <div class="mininav-toggle text-center py-2">
    <img class=" rounded-circle border" [ngClass]="{'img-md ': isExpanded,'img-sm':!isExpanded}"
      src="./assets/img/profile-photos/1.png" alt="Profile Picture">
  </div>

  <div class="mininav-content  d-mn-max"[ngClass]="{'collapse ': !isExpanded}">
    <div class="d-grid">

      <!-- User name and position -->
      <button class="d-block btn shadow-none p-2" data-bs-toggle="collapse" data-bs-target="#usernav"
        aria-expanded="false" aria-controls="usernav">
        <span class="dropdown-toggle d-flex justify-content-center align-items-center">
          <h6 class="mb-0 me-3">{{userName}}</h6>
        </span>
        <small class="text-muted">Administrador</small>
      </button>

      <!-- Collapsed user menu -->
      <div id="usernav" class="nav flex-column collapse">
        <a href="#" class="nav-link d-flex justify-content-between align-items-center">
          <span><i class="pli-mail fs-5 me-2"></i><span class="ms-1">Messages</span></span>
          <span class="badge bg-danger rounded-pill">14</span>
        </a>
        <a href="#" class="nav-link">
          <i class="pli-male fs-5 me-2"></i><span class="ms-1">Profile</span>
        </a>
        <a href="#" class="nav-link">
          <i class="pli-gear fs-5 me-2"></i><span class="ms-1">Settings</span>
        </a>

      </div>

    </div>
  </div>
  <hr>
  <app-sidenav-link route="/controle-entrega" label="Controle de entrega" icon="pli-home"></app-sidenav-link>
  <app-sidenav-link route="/teste" label="Teste" icon="pli-cat"></app-sidenav-link>
  <app-sidenav-link route="/fsffsef" label="Digital" icon="pli-folders"></app-sidenav-link>
  <app-sidenav-link route="/teswwwte" label="Mão" icon="pli-hand"></app-sidenav-link>
  <app-sidenav-link route="/tesefseste" label="Teste" icon="pli-book"></app-sidenav-link>

  <div class="col-12 p-fluid" [ngClass]="{'logout-collapsed ': !isExpanded,'logout':isExpanded}">
    <hr style="margin: 0;">
    <p-button size="small" (onClick)="logout()" class="logout_btn_collapsed" label="Logout" [text]="true" icon="pi pi-sign-out"
      iconPos="right"></p-button>

    <p-button class="logout_btn" (onClick)="logout()" icon="pi pi-sign-out" [rounded]="true" [text]="true"></p-button>
  </div>
</div>
