<div class="content__header content__boxed overlapping">
  <div class="content__wrap">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a class="text-white-alpha-90" href="./index.html">EPIs</a></li>
        <li class="breadcrumb-item active text-white-alpha-90" aria-current="page">Controle de entrega</li>
      </ol>
    </nav>
    <!-- END : Breadcrumb -->
    <h1 class="page-title mb-0 mt-2 text-white-alpha-90">{{'controle de entrega'| translate}}</h1>
    <p class="lead">
    </p>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="flex justify-content-between">
      <h5 class="card-title">{{'filtros'| translate}}</h5>
      <p-button size="small" icon="pi {{!filtersVisible ? 'pi-angle-down' : 'pi-angle-up'}}" [text]="true"
        (onClick)="changeFilterVisibility()"></p-button>
    </div>
    <div class="flex flex-wrap" [@slideInOut]="filtersVisible ? 'in' : 'out'">
      <!--<div class="md:col-4 col-12 p-fluid">
        <label for="local_filter" class="form-label">Local de atendimento</label>
        <p-dropdown #local_filter class="p-inputtext-sm" [options]="locaisDeEstoque" [filter]="true" filterBy="nome"
          optionLabel="nome" [showClear]="true" placeholder="Selecione um local de atendimento"></p-dropdown>
      </div>-->
      <div class="md:col-3 col-12 p-fluid">
        <label for="empresa_filter" class="form-label">{{'empresa'| translate}}</label>
        <p-autoComplete #empresa_filter appendTo="body" class="p-inputtext-sm" (onSelect)="empresaSelected($event)"
          [suggestions]="empresasSuggestions" (completeMethod)="searchEmpresa($event)" [forceSelection]="true"
          [showEmptyMessage]="true" placeholder="Buscar empresa" field="denominacao">
          <ng-template let-empresa pTemplate="item">
            <div class="flexflex-column align-items-start gap-2">
              <div class=" h4 "><strong>{{ empresa.denominacao }}</strong></div>
              <div>Cidade: {{empresa.cidade!.nome}}</div>
              <div *ngIf="empresa.inscricaoEmpregadorESocial">{{empresa.pessoaEmpregadorESocial}}: {{empresa.inscricaoEmpregadorESocial}}</div>
              <div *ngIf="!empresa.inscricaoEmpregadorESocial">CNPJ: {{empresa.cnpj}}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="md:col-3 col-12 p-fluid">
        <label  for="setor_filter" class="form-label">{{'setor'| translate}}</label>
        <p-autoComplete #setor_filter appendTo="body" [disabled]="!empresaFilterSelectedId"  class="p-inputtext-sm" (onSelect)="setorSelected($event)"
          [suggestions]="setoresSuggestions" (completeMethod)="searchSetor($event)" [forceSelection]="true"
          [showEmptyMessage]="true" placeholder="Buscar Setor" field="nome">
          <ng-template let-setor pTemplate="item">
            <div class="flexflex-column align-items-start gap-2">
              <div>{{ setor.nome }}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="md:col-3 col-12 p-fluid">
        <label for="vinculo_filter" class="form-label">{{'status empregado'| translate}}</label>
        <p-multiSelect #vinculo_filter appendTo="body" [options]="statusDoEmpregado" [(ngModel)]="selectedStatusDoEmpregado" class="p-inputtext-sm" styles="height: 37px;"
          placeholder="Filtrar por status" display="chip" optionLabel="nome"></p-multiSelect>
      </div>
      <div class="md:col-3 col-12 p-fluid">
        <label for="empregado_filter" class="form-label">{{'empregado'| translate}}</label>
        <p-autoComplete #empregado_filter appendTo="body" class="p-inputtext-sm" [disabled]="empregados.length == 0"
          (onSelect)="employerSelected($event)" [suggestions]="empregadosSuggestions"
          (completeMethod)="searchEmpregado($event)" [forceSelection]="true" [showEmptyMessage]="true"
          placeholder="Buscar empregado" field="nome">
          <ng-template let-empregado pTemplate="item">
            <div class="flexflex-column align-items-start gap-2">
              <div class=" h4 "><strong>{{ empregado.nome }}</strong></div>
              <div>Empresa: {{empregado.razaoSocial}}</div>
              <div>Setor: {{empregado.setor}}</div>
              <div>Cargo: {{empregado.cargo}}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
  </div>
</div>
<!--<div *ngIf="filtersVisible"><h1>Use os filtros acima para buscar um empregado</h1></div>-->
<router-outlet></router-outlet>

