:host ::ng-deep .p-multiselect {
  height: 37px;
}

.filter-collapsed {
  max-height: 0;
  transition: max-height 300ms cubic-bezier(0.02, 0.68, 0.63, 0.98);
}
.teste{
  max-height: 1000px;
  height: auto;
  display: flex;
  overflow: hidden;
  transition: max-height 300ms cubic-bezier(0.02, 0.68, 0.63, 0.98);
}


.my-path {
  list-style: none;
  display: flex;
  color: white;
  align-items: baseline;
}

hr {
  margin: 0;
  margin-bottom: 0.5rem;
}

.p-panel .p-panel-content {
  padding: 0;
}
