/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";
img {
  max-width: 100%; /* or max-width: 100%; */
}

button{
  border-radius: 6px;
}


body{
  margin: 0;
  background-color: #EDF1F6;
  font-family: var(--bs-font-sans-serif);
}

:root{
  --my-dialog-mask: hsl(240 3.8% 46.1% / 33%);
 --yellow:#EFE52C;
 --primary-color: #25476A;
 --sidenav-width: 14rem;
 --sidenav-collapsed-width: 4rem;
 --bs-font-sans-serif: "Poppins","Open Sans",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.p-autocomplete{
  height: 37px;
}

.card{
  overflow: hidden;
}




.p-component-overlay {
  background-color: var(--my-dialog-mask);
  backdrop-filter: blur(5px);
}
