.my-navbar {
  background-color: var(--primary-color);
  height: 3.5rem;
  align-items: center;
  display: flex;
}

.logo {
  height: 2.5rem;
  transition: transform .2s;
}

.logo:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);

}

:host { display: block; }
:host ::ng-deep .p-dropdown{
  border: none;
  background: none;
}
:host  .p-dropdown:not(.p-disabled).p-focus {
  border:none;
  box-shadow:none;
}


:host ::ng-deep .p-dropdown .p-dropdown-trigger{
  display: none;
}

